<section class="about">
    <div class="content">
        <div class="inner">
            <p><%- partial("_aboutMessage") %> </p>
            <ul class="links">
                <li><a href="https://github.com/astephen2" class="github" rel="me">Github</a></li>
				<li><a href="https://www.linkedin.com/pub/alex-stephen/5b/2b/14/" class="linkedin" rel="me">LinkedIn</a></li>
            </ul>
        </div>
    </div>
</section>
